.signin-card {
            height: 550px !important;
        }
		
		.signin-right {
			padding-top: 40px !important;
		}

        .phone-input-container {
            display: flex;
            gap: 8px;
            /* margin-bottom: 32px; */
        }

        .country-select {
            width: 90px;
            height: 56px;
            border: 1px solid var(--border-color);
            border-radius: 4px;
            padding: 13px 8px;
            font-size: 16px;
            color: var(--text-primary);
            outline: none;
            background: transparent;
            cursor: pointer;
        }

        .phone-input {
            flex: 1;
        }

        .verification-image {
            width: 170px;
            height: auto;
            margin: 0 auto;
            display: block;
        }

        .verification-title {
            text-align: center;
            margin: 24px 0;
            color: var(--text-primary);
            font-size: 24px;
            font-weight: 400;
        }

        .info-text {
            color: var(--text-primary);
            font-size: 14px;
            margin-bottom: 24px;
            line-height: 1.5;
        }

        .standard-rates {
            font-style: italic;
        }

        .button-group {
            margin-top: 32px;
        }

        .text-button {
            color: #1a73e8;
        }
		
	@media (max-width: 945px) {

		.signin-card {
			height: 805px !important;
		}
		
		.verification-image {
			width: 120px;
			height: auto;
			margin: 0 auto;
			display: block;
		}
		
		.signin-right {
			padding-top: 20px !important;
		}

	}